<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <main>
      <!-- <p>Welcome to <%= title %></p> -->
      <a href="/posts/new">Write a New Post</a>
      <p>Newest:</p>
      <ul>
        <% postList.forEach((post) => { %>
          <li class="postPreview">
            <a href=<%= post.url %>>
              <h2><%= post.title %></h2>
            </a>
            <h3><%= post.subtitle %></h3>
            <p>
              By <%= post.user.full_name %>, 
              Latest revision: <%= new Date(post.timestamp).toUTCString() %>
            </p>

       
            <% if (post.is_published == true) { %>
              <p class="markerPublished">Published</p>
            <% } else { %>
              <p class="markerUnpublished">Unpublished</p>
            <% } %>
            

            <a href=<%= post.url + "/edit" %>>Manage Post</a>
          </li>
        <% }) %> 
      </ul>
      <p>End of post history</p>
    </main>
    <%- include("./partials/footer"); %>
  </body>
</html>
